body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;
    transition: color 0.65s ease;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.ct-perfect-fourth > svg {
    left: 5%;
}

.ct-perfect-fourth::before {
    padding-bottom: 25%;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: blue;
}

#legenda {
    width: 90%;
    text-align: left;
    margin: 2em auto 0;
}

#legenda > div {
    display: flex;
    align-items: center;
}

#legenda > div:not(:last-of-type) {
    margin-bottom: .2em;
}

#legandaConsumido {
    background-color: blue;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: green;
}

#legandaEstimadoSemanal {
    background-color: green;
}

#legandaEstimadoDiario {
    background-color: lightcoral;
}

.legendaGrafico {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: .3em;
}

#darkMode {
    position: absolute;
    bottom: 2em;
    right: 2em;
    background-color: #000;
    padding: .8em 1.2em;
    border-radius: 2em;
    width: 20px;
}

#darkMode:hover {
    cursor: pointer;
}